input {
    width: 0;
    height: 0;
    border: none;
    outline: none;
}

#error {
    &_product_name,
    &_product_type,
    &_image,
    &_product_price,
    &_product_articul {
        font-size: 14px;
        color: #f00;
    }
}