body {
  font-family: "Montserrat";
  box-sizing: border-box;
  overflow-x: hidden;
}
body.active {
  overflow: hidden;
}

[class*=__container] {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: var(--container-offset);
}

@media (max-width: 991px) {
  [class*=__container] {
    max-width: var(--content-width-table);
  }
}
@media (max-width: 500px) {
  [class*=__container] {
    max-width: var(--content-width-mobile);
  }
}
.btn {
  background-color: unset;
  padding: 0;
  border: none;
  cursor: pointer;
}

.form input:invalid,
.basket__section-form input:invalid {
  background-color: #ffdddd;
}
.form input:valid,
.basket__section-form input:valid {
  background-color: #ddffdd;
}
.form input:required,
.basket__section-form input:required {
  border-color: #800000;
  border-width: 3px;
}

.form p.form__error-text {
  text-align: left;
  font-size: 0.7vw;
  margin-bottom: 0.26vw;
  width: 100%;
  margin-left: 2.344vw;
}
.form input.form__error-field {
  background-color: #ffdddd;
}
.form p.form__error-text,
.form input.form__error-field {
  color: #800000;
}
@media (max-width: 991px) {
  .form {
    font-size: 20px;
    line-height: 24px;
  }
  .form p.form__error-text {
    font-size: 1.615vw;
    line-height: 1.816vw;
    text-align: center;
    margin-bottom: 10px;
  }
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  display: flex;
}
.breadcrumbs__item {
  list-style: none;
  font-size: 0.938vw;
  line-height: 1.25vw;
}
.breadcrumbs__link {
  text-decoration: none;
  color: var(--mainSubColor);
}
.breadcrumbs__link:after {
  content: "|";
  font-size: 0.938vw;
  margin: 0 0.26vw;
}
@media (max-width: 991px) {
  .breadcrumbs__link:after {
    font-size: 1.816vw;
    margin: 0 0.505vw;
  }
  .breadcrumbs__item {
    font-size: 1.816vw;
    line-height: 2.422vw;
  }
}
@media (max-width: 500px) {
  .breadcrumbs__link:after {
    font-size: 4.4vw;
    margin: 0 1vw;
  }
  .breadcrumbs__item {
    font-size: 4.4vw;
    line-height: 4.8vw;
  }
}

.page__title {
  font-size: 1.875vw;
  line-height: 2.188vw;
  margin: 1.563vw 0;
}
@media (max-width: 991px) {
  .page__title {
    font-size: 3.229vw;
    line-height: 3.835vw;
    margin: 2.018vw 0;
  }
}
@media (max-width: 500px) {
  .page__title {
    font-size: 5.2vw;
    line-height: 5.6vw;
    margin: 4vw 0;
  }
}