.btn {
  background-color: unset;
  padding: 0;
  border: none;
  cursor: pointer;
}

.form__error-text {
  text-align: left;
  font-size: 0.625vw;
  margin-bottom: 0.26vw;
  width: 100%;
  margin-left: 2.344vw;
}
.form__error-field {
  background-color: #ffdddd;
}
.form__error-text, .form__error-field {
  color: #800000;
}

input:invalid {
  background-color: #ffdddd;
}

input:valid {
  background-color: #ddffdd;
}

input:required {
  border-color: #800000;
  border-width: 3px;
}