:root {
  --mainColor: #6F6F6F;
  --mainColorIcon: #5c5c5c;
  --mainSubColor: #201F26;
  --titleBorder: #D9D9D9;
  --colorText: #BFBFBF;
  --colorBorder: #EFEFEF;
  --colorMainSlideBorder: rgba(191, 191, 191, .5);
  --mainFont: "Montserrat";
  --content-width: 1468px;
  --container-offset: 0 16px;
}

[class*=__container] {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: var(--container-offset);
}

body {
  font-family: "Montserrat";
  box-sizing: border-box;
}

:root {
  --mainColor: #6F6F6F;
  --mainColorIcon: #5c5c5c;
  --mainSubColor: #201F26;
  --titleBorder: #D9D9D9;
  --colorText: #BFBFBF;
  --colorBorder: #EFEFEF;
  --colorMainSlideBorder: rgba(191, 191, 191, .5);
  --mainFont: "Montserrat";
  --content-width: 1468px;
  --container-offset: 0 16px;
}

[class*=__container] {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: var(--container-offset);
}

body {
  font-family: "Montserrat";
  box-sizing: border-box;
}

.btn {
  background-color: unset;
  padding: 0;
  border: none;
  cursor: pointer;
}

.form input:invalid {
  background-color: #ffdddd;
}
.form input:valid {
  background-color: #ddffdd;
}
.form input:required {
  border-color: #800000;
  border-width: 3px;
}

.form p.form__error-text {
  text-align: left;
  font-size: 0.7vw;
  margin-bottom: 0.26vw;
  width: 100%;
  margin-left: 2.344vw;
}
.form input.form__error-field {
  background-color: #ffdddd;
}
.form p.form__error-text,
.form input.form__error-field {
  color: #800000;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  display: flex;
}
.breadcrumbs__item {
  list-style: none;
}
.breadcrumbs__link {
  text-decoration: none;
  color: var(--mainSubColor);
}
.breadcrumbs__link:after {
  content: "|";
  font-size: 0.833vw;
  margin: 0 0.26vw;
}
.header__top {
  padding: 2.083vw 0;
}
.header__container {
  display: flex;
}
.header__container--top {
  align-items: center;
  justify-content: space-between;
}
.header__container--bottom {
  align-items: center;
  justify-content: space-between;
}
.header__left {
  margin-right: 1.563vw;
}
.header__left-text {
  margin: 0;
  font-size: 0.96vw;
  width: 14.583vw;
}
.header__nav--top {
  display: flex;
  align-items: center;
  margin-right: 1.042vw;
}
.header__nav--bottom {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__logo {
  width: 11.094vw;
  margin-right: 1.563vw;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__cabinet-button {
  background-color: #013784;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 1vw 1.9vw;
  color: #fff;
  border-radius: 1.042vw;
  position: relative;
  top: 0;
  left: 0;
}
.header__cabinet-button p {
  margin: 0;
}
.header__cabinet-button:before {
  font-size: 1.146vw;
  margin-right: 0.521vw;
}
.header__basket {
  margin-right: 1.563vw;
  flex: 0 0 37px;
}
.header__basket-icon {
  position: relative;
  top: 0;
  right: 0;
  font-size: 1.6vw;
  text-decoration: none;
  color: var(--mainSubColor);
}
.header__basket-icon span {
  position: absolute;
  width: 0.729vw;
  height: 0.729vw;
  font-size: 0.521vw;
  background: #013784;
  border-radius: 50%;
  display: flex;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.header__logout {
  margin-left: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
  cursor: pointer;
}

.nav__list {
  margin: 0;
  padding: 0;
}
.nav__list--top {
  display: flex;
  align-items: center;
}
.nav__list--bottom {
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  margin: 0px auto;
  perspective: 2000px;
  flex-wrap: wrap;
}
.nav__item {
  list-style: none;
}
.nav__item--top {
  flex: 0 1 20vw;
}
.nav__item--top:not(:last-child) {
  margin-right: 1.563vw;
}
.nav__item--bottom {
  transform-style: preserve-3d;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  perspective: 10.417vw;
  min-height: 3.125vw;
}
.nav__item--bottom:not(:last-child) {
  margin-right: 13.021vw;
}
.nav__item--dropdown {
  margin-right: 13.021vw;
}
.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--mainSubColor);
  font-size: 0.96vw;
  line-height: 1.25vw;
}
.nav__link:before {
  color: var(--mainColorIcon);
  font-size: 1.146vw;
  margin-right: 0.521vw;
}
.nav__link-text {
  margin: 0;
  font-size: 0.96vw;
}
.nav__link--bottom:after {
  content: "";
  transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.01s;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  bottom: -5em;
  left: calc(50% - 10px);
  border-color: transparent transparent #013784 transparent;
  border-width: 10px;
  border-style: solid;
}
.nav__item--bottom:hover .description, .nav__link--bottom:hover .description {
  pointer-events: all;
  opacity: 1;
  margin-left: 6vw;
}
.nav__item--bottom:hover .description--info, .nav__link--bottom:hover .description--info {
  pointer-events: all;
  opacity: 1;
  margin-right: 12vw;
}
.nav__item--bottom:hover .nav__link--bottom:after {
  bottom: 0vw;
  opacity: 1;
  transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.15s;
}

.description {
  position: absolute;
  top: 3.1vw;
  border-radius: 0.521vw;
  min-width: 45vw;
  pointer-events: none;
  z-index: 10;
  margin-left: -5vw;
  opacity: 0;
  padding: 1.5vw;
  transition: all 0.25s ease-out, opacity 0.25s ease-in, margin-left 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
  transition: all 0.25s ease-out, opacity 0.25s ease-in, margin-left 0.25s ease-out, clip-path 0.25s ease-out;
  transition: all 0.25s ease-out, opacity 0.25s ease-in, margin-left 0.25s ease-out, clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
  background-color: #013784;
  display: flex;
}
.description-list {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.description-list:not(:last-child) {
  margin-right: 1.563vw;
}
.description-list__title {
  margin: 0 0 1.042vw 0;
  color: #fff;
  font-size: 0.833vw;
  line-height: 1.25vw;
}
.description-list__items {
  padding: 0;
}
.description-list__items--more .description-list__item:nth-child(n+5) {
  display: none;
}
.description-list__items--more .description-list__item.is-visible {
  display: block;
}
.description-list__item {
  list-style: none;
}
.description-list__item:not(:last-child) {
  margin-bottom: 1.563vw;
}
.description-list__link {
  color: #fff;
  text-decoration: none;
  font-size: 0.729vw;
  line-height: 0.938vw;
}
.description-list__button {
  color: #fff;
  text-align: center;
  margin-top: auto;
  display: flex;
}

.header__cabinet-form {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -7%);
  z-index: 3;
  width: 60%;
  height: 33.854vw;
  padding: 1.302vw;
  background-color: #ecf0f3;
  border-radius: 0.625vw;
  overflow: hidden;
  opacity: 0;
  margin: 0 auto;
  transition: top 0.4s ease, opacity 0.4s ease;
}
.header__cabinet-form.active {
  opacity: 1;
  top: 0%;
  transition: top 0.4s ease, opacity 0.4s ease;
}

.header__cabinet-wrapper.active {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 5;
}

.form-header__cabinet {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 54%;
  height: 100%;
  padding: 1.302vw;
  background-color: #ecf0f3;
  transition: 1.25s;
}
.form-header__cabinet.active {
  opacity: 1;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.form__icon {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
  margin: 0 5px;
  opacity: 0.5;
  transition: 0.15s;
}
.form__icon:hover {
  opacity: 1;
  transition: 0.15s;
  cursor: pointer;
}
.form__input {
  width: 350px;
  height: 40px;
  margin: 4px 0;
  padding-left: 25px;
  font-size: 13px;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  background-color: #ecf0f3;
  transition: 0.25s ease;
  border-radius: 8px;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}
.form__input:focus {
  box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}
.form__span {
  margin-top: 30px;
  margin-bottom: 12px;
}
.form__link {
  color: #181818;
  font-size: 15px;
  margin-top: 25px;
  border-bottom: 1px solid #a0a5a8;
  line-height: 2;
}
.form__close {
  width: 1.25vw;
  height: 1.25vw;
}

.form__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: #181818;
}

.description {
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 1.6;
}

.form__button,
.switch__button {
  width: 220px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #4B70E2;
  color: #f9f9f9;
  border: none;
  outline: none;
}

/**/
.form-header__cabinet--left {
  z-index: 100;
  left: calc(100% - 660px);
}

.form-header__cabinet--right {
  left: calc(100% - 660px);
  z-index: 0;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  padding: 50px;
  z-index: 200;
  transition: 1.25s;
  background-color: #ecf0f3;
  overflow: hidden;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
}
.switch__circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #ecf0f3;
  box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
  bottom: -60%;
  left: -60%;
  transition: 1.25s;
}
.switch__circle--t {
  top: -30%;
  left: 60%;
  width: 300px;
  height: 300px;
}
.switch__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 400px;
  padding: 50px 55px;
  transition: 1.25s;
}
.switch__button {
  cursor: pointer;
}
.switch__button:hover {
  box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
  transform: scale(0.985);
  transition: 0.25s;
}
.switch__button:active, .switch__button:focus {
  box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
  transform: scale(0.97);
  transition: 0.25s;
}

/**/
.is-txr {
  left: calc(100% - 400px);
  transition: 1.25s;
  transform-origin: left;
}

.is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right;
}

.is-z200 {
  z-index: 200;
  transition: 1.25s;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s;
}

.is-gx {
  animation: is-gx 1.25s;
}

@keyframes is-gx {
  0%, 10%, 100% {
    width: 400px;
  }
  30%, 50% {
    width: 500px;
  }
}