.hero__swiper {
  height: 750px;
}
.hero__swiper-title {
  font-size: 5.4svh;
  font-weight: 700;
  margin: 0 0 2.083vw 0;
  max-width: 95dvh;
}
.hero__swiper-descr {
  font-size: 2.2svh;
  margin: 0 0 8.8889vh 0;
  max-width: 70.8333svh;
}
.hero__swiper-button {
  background-color: #013784;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 1vw 1.9vw;
  color: #fff;
  border-radius: 1.042vw;
}
.hero__container {
  color: #fff;
}
.hero__slide {
  padding: 125px 0 125px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  top: 0;
  left: 0;
}
.hero__slide:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero__slide[data-slide="1"] {
  background-image: url("/src/assets/img/1C-Web-Service.png");
}
.hero__slide[data-slide="2"] {
  background-image: url("/src/assets/img/1C-Fresh.png");
}
.hero__slide[data-slide="3"] {
  background-image: url("/src/assets/img/Programm-Product.png");
}
.hero__slide[data-slide="4"] {
  background-image: url("/src/assets/img/Official-Partner.png");
}
.hero__slide[data-slide="5"] {
  background-image: url("/src/assets/img/Info-Support.png");
}