@charset "UTF-8";
.order__item {
  border: 0.052vw solid #d5d2d2;
  border-radius: 1.042vw;
}
.order__item:not(:last-of-type) {
  margin-bottom: 1.042vw;
}
.order__item-panel {
  display: flex;
  flex-direction: column;
  padding: 1.563vw;
}
.order__item-control {
  display: flex;
  align-items: center;
  margin-bottom: 0.781vw;
}
.order__item-action {
  display: flex;
  align-items: center;
  font-size: 0.833vw;
  line-height: 0.938vw;
}
.order__item-action-block {
  display: flex;
  align-items: center;
  margin-right: 0.521vw;
}
.order__item-action-price {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  font-size: 0.833vw;
  line-height: 0.938vw;
}
.order__item-price-product, .order__item-price-total {
  font-size: 1.042vw;
  line-height: 1.25vw;
  font-weight: 500;
  margin-left: 0.26vw;
}
.order__item-price-product:after, .order__item-price-total:after {
  content: "₽";
}
.order__item-price-count {
  font-size: 0.729vw;
  line-height: 0.833vw;
}
.order__item-price-count::after {
  content: "₽";
}
.order__item-user-text {
  margin: 0 0.26vw 0 0;
}
.order__item-user-name {
  margin: 0;
  font-weight: bold;
}
.order__item-price {
  margin-left: 0.26vw;
  font-weight: bold;
}
.order__item-price:after {
  content: "₽";
}
.order__item-order {
  font-size: 0.833vw;
  line-height: 0.938vw;
  font-weight: bold;
  margin: 0 0.26vw 0 0;
}
.order__item-date {
  font-size: 0.833vw;
  line-height: 0.938vw;
  margin: 0 0.521vw 0 0;
}
.order__item-status {
  margin: 0;
  background-color: #013784;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.2vw 1vw;
  color: #fff;
  border-radius: 1.042vw;
  font-size: 0.833vw;
  line-height: 0.938vw;
}
.order__item-body {
  overflow: hidden;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 320ms, opacity 320ms, visibility 320ms;
}
.order__item-body.active {
  height: auto;
  visibility: visible;
  opacity: 1;
  border-top: 0.052vw solid #d5d2d2;
}
.order__item-phone {
  display: flex;
  align-items: center;
  margin: 0;
}
.order__item-phone-text {
  display: flex;
  align-items: center;
  margin: 0 0.26vw 0 0;
}
.order__item-phone-user {
  margin: 0;
  font-weight: bold;
}
.order__item-products {
  overflow: hidden;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 320ms, opacity 320ms, visibility 320ms;
}
.order__item-products.active {
  height: auto;
  visibility: visible;
  opacity: 1;
}
.order__item-product {
  display: flex;
  padding: 1.563vw;
}
.order__item-picture {
  display: contents;
}
.order__item-image {
  width: 100px;
  max-height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
}
.order__item-description {
  margin-left: 0.781vw;
}
.order__item-name {
  font-size: 0.833vw;
  line-height: 0.938vw;
  margin: 0 0 0.781vw 0;
  font-weight: 500;
}
.order__item-articul {
  font-size: 0.729vw;
  line-height: 0.833vw;
  font-weight: 400;
  margin: 0;
}
.order__item-block {
  margin-left: auto;
  font-size: 0.729vw;
  line-height: 0.833vw;
}
.order__item-block-price {
  margin: 0 0 0.781vw 0;
  text-align: right;
}
.order__item-block-count {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 0.26vw;
  align-items: center;
  text-align: right;
  width: 200px;
}
.order__item-block-count.remove {
  justify-content: end;
}
.order__item-block-count pre {
  margin: 0;
}
.order__item-block-count > div:last-of-type {
  display: flex;
  justify-content: end;
}
.order__item-remove, .order__item-button {
  margin-left: auto;
  background-color: #013784;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.6vw 1vw;
  color: #fff;
  border-radius: 1.042vw;
  font-size: 0.833vw;
  line-height: 0.938vw;
}
.order__item-remove {
  margin-top: 0.521vw;
}
.order__item-price {
  font-size: 0.729vw;
  line-height: 0.833vw;
  margin-left: 0.26vw;
}
.order__item-price:first-child {
  font-size: 1.042vw;
  line-height: 1.25vw;
  font-weight: 500;
}
.order__item-summary.hidden {
  display: none;
}
.order__item-summary .order__item-block {
  display: flex;
  align-items: center;
  margin-bottom: auto;
}

.icon-cheveron-down {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.icon-cheveron-down:before {
  font-size: 1.563vw;
}
.icon-cheveron-down.active {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.order__item-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin: 0;
  cursor: pointer;
}
.order__item-quantity .quantity__current {
  width: 20px;
  height: auto;
  border: none;
  font-size: 0.833vw;
  line-height: 0.938vw;
  text-align: center;
}
.order__item-quantity .quantity__control {
  padding: 0.521vw;
  background-color: #013784;
  border-radius: 1.042vw;
  color: #fff;
  font-size: 1.7vw;
  line-height: 0.938vw;
  width: 1.979vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order__item-quantity .quantity__control.disabled {
  background-color: #4e6c96;
}