.main {}


.panel__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    // .panel__wrapper-form

    &-form {
        display: flex;
        flex-direction: column;
        background-color: #ecf0f3;
        border-radius: 0.625vw;
        padding: 2.208vw;
        width: 31.25vw;
        position: relative;
        top: 0;
        left: 0;
        overflow-y: scroll;
        height: 90%;

        p {
            color: #000;
        }
    }
}

// .panel__description

.panel__description {
    margin-bottom: 30px;
    resize: none;
    min-height: 200px;
    overflow-y: scroll;
}

//.panel__buttons
.panel__buttons {
    display: flex;
    justify-content: space-between;
}

.catalog {

    // .catalog__container

    &__container {}

    // .catalog__body

    &__body {
        display: grid;
        grid-template-columns: 30% 1fr;
    }

    // .catalog__filter

    &__filter {}

    // .catalog__content

    &__content {}

    // .catalog__control

    &__control {
        display: flex;
        align-items: end;

        //.catalog__control-item
        &-item {
            &:not(:last-child) {
                margin-right: 2.083vw;
            }
        }

        //.catalog__control-button
        &-button {
            background-color: #013784;
            width: -moz-fit-content;
            width: fit-content;
            display: flex;
            align-items: center;
            padding: 1vw 1.9vw;
            color: #fff;
            border-radius: 1.042vw;
            margin-top: auto;
        }
    }

    //.catalog__products
    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
        margin-top: 30px;
    }
}

.filter {

    // .filter__item

    &__item {}

    // .filter__item-name

    &__item-name {}
}


.product-card {
    cursor: pointer;

    &__checkmark {
        display: none;
    }

    &:hover {
        .product-card__checkmark {
            position: relative;
            top: 0;
            right: 0;
            display: block;
        }

        .product-card__icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            font-size: 20px;
        }
    }

    &__icon {
        transition: scale .1s ease;
        padding: 20px;
        margin: -20px;

        &:hover {
            scale: (1.4);
            transition: scale .1s ease;

        }
    }
}

.dropdown {
    position: relative;
}

.dropdown__button {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown__list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdown__list.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown__item {
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown__item:hover {
    background-color: #ccc;
}

.dropdown__item.active {
    background-color: #ccc;
}