.main {}


.panel__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    // .panel__wrapper-form

    &-form {
        display: flex;
        flex-direction: column;
        background-color: #ecf0f3;
        border-radius: 0.625vw;
        padding: 2.208vw;
        width: 31.25vw;

        p {
            color: #000;
        }
    }
}

// .panel__description

.panel__description {
    margin-bottom: 30px;
}

//.panel__buttons
.panel__buttons {
    display: flex;
    justify-content: space-between;
}

.catalog {

    // .catalog__container

    &__container {}

    // .catalog__body

    &__body {
        display: grid;
        grid-template-columns: 30% 1fr;
    }

    // .catalog__filter

    &__filter {}

    // .catalog__content

    &__content {}

    // .catalog__control

    &__control {
        display: flex;

        //.catalog__control-item
        &-item {
            &:not(:last-child) {
                margin-right: 2.083vw;
            }
        }
    }

    //.catalog__products
    &__products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
        margin-top: 30px;
    }
}

.filter {

    // .filter__item

    &__item {}

    // .filter__item-name

    &__item-name {}
}


.product-card {
    cursor: pointer;

    &__checkmark {
        display: none;
    }

    &:hover {
        .product-card__checkmark {
            position: relative;
            top: 0;
            right: 0;
            display: block;
        }

        .product-card__icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            font-size: 20px;
        }
    }
}


.catalog__control-select {
    --background: #242836;
    --text: #fff;
    --icon: #fff;
    --icon-active: #3F4656;
    --list: #1C212E;
    --list-text: rgba(255, 255, 255, .2);
    --list-text-hover: rgba(255, 255, 255, .5);
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;

    select,
    .catalog__control-button {
        font-family: inherit;
        margin: 0;
        border: 0;
        text-align: left;
        text-transform: none;
        -webkit-appearance: none;
    }

    select {
        pointer-events: none;
        user-select: none;
        opacity: 0;
        padding: 8px 36px 17px 12px;
        visibility: hidden;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        width: 200px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        transform: translateY(var(--t));
        transition: opacity .3s ease, transform .4s cubic-bezier(.2, .9, .4, 1.1);

        li {
            padding: 8px 36px 8px 12px;
            cursor: pointer;
        }
    }

    &>ul {
        background: #053880;
        color: var(--list-text);
        border-radius: 6px;

        li {
            transition: color .3s ease;

            &:hover {
                color: var(--list-text-hover);
            }
        }
    }

    .catalog__control-button {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        z-index: 1;
        width: 100%;
        display: block;
        overflow: hidden;
        border-radius: 6px;
        color: var(--text);
        background: #013784;
        white-space: nowrap;

        em {
            --r: 45deg;
            display: block;
            position: absolute;
            right: 12px;
            top: 0;
            width: 7px;
            height: 7px;
            margin-top: 13px;
            -webkit-backface-visibility: hidden;

            &:before,
            &:after {
                --o: .4;
                content: '';
                width: 7px;
                height: 7px;
                opacity: var(--o);
                display: block;
                position: relative;
                transition: opacity .2s ease;
                transform: rotate(var(--r)) scale(.75);
            }

            &:before {
                border-left: 2px solid var(--icon);
                border-top: 2px solid var(--icon);
                top: 1px;
            }

            &:after {
                border-right: 2px solid var(--icon);
                border-bottom: 2px solid var(--icon);
                bottom: 1px;
            }
        }
    }

    &:not(.open) {
        &>ul {
            opacity: 0;
            pointer-events: none;
        }
    }

    &.open {
        &.tilt-up {
            animation: tilt-up .4s linear forwards;

            .button {
                em {
                    &:before {
                        --o: 1;
                    }
                }
            }
        }

        &.tilt-down {
            animation: tilt-down .4s linear forwards;

            .button {
                em {
                    &:after {
                        --o: 1;
                    }
                }
            }
        }
    }
}

@keyframes tilt-up {

    40%,
    60% {
        transform: perspective(500px) rotateX(8deg);
    }
}

@keyframes tilt-down {

    40%,
    60% {
        transform: perspective(500px) rotateX(-8deg);
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}