////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "variables.scss";


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.btn {
    background-color: unset;
    padding: 0;
    border: none;
    cursor: pointer;
}

input:invalid {
    background-color: #ffdddd;
}

input:valid {
    background-color: #ddffdd;
}

input:required {
    border-color: #800000;
    border-width: 3px;
}

//.form__error

.form {

    //.form__error-text
    p.form__error-text {
        text-align: left;
        font-size: 0.7vw;
        margin-bottom: 0.26vw;
        width: 100%;
        margin-left: 2.344vw;
    }

    //.form__error-field
    input.form__error-field {
        background-color: #ffdddd;
    }

    p.form__error-text,
    input.form__error-field {
        color: #800000;
    }
}

.page {

    // .page__breadcrumbs

    &__breadcrumbs {}
}

.breadcrumbs {

    // .breadcrumbs__list

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
    }

    // .breadcrumbs__item

    &__item {
        list-style: none;
    }

    // .breadcrumbs__link

    &__link {
        text-decoration: none;
        color: var(--mainSubColor);

        &:after {
            content: "|";
            font-size: 0.833vw;
            margin: 0 0.26vw;

        }
    }

    // .breadcrumbs__current

    &__current {}
}