////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// @import "variables.scss";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
    font-family: "Montserrat";
    box-sizing: border-box;
    overflow-x: hidden;

    &.active {
        overflow: hidden;
    }

}

[class*=__container] {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: var(--container-offset);
}

@media (max-width: 991px) {
    [class*=__container] {
        max-width: var(--content-width-table);
    }
}

@media (max-width: 500px) {
    [class*=__container] {
        max-width: var(--content-width-mobile);
    }
}


.btn {
    background-color: unset;
    padding: 0;
    border: none;
    cursor: pointer;
}

.form,
.basket__section-form {
    input:invalid {
        background-color: #ffdddd;
    }

    input:valid {
        background-color: #ddffdd;
    }

    input:required {
        border-color: #800000;
        border-width: 3px;
    }

}


//.form__error

.form {

    //.form__error-text
    p.form__error-text {
        text-align: left;
        font-size: 0.7vw;
        margin-bottom: 0.26vw;
        width: 100%;
        margin-left: 2.344vw;
    }

    //.form__error-field
    input.form__error-field {
        background-color: #ffdddd;
    }

    p.form__error-text,
    input.form__error-field {
        color: #800000;
    }

    @media(max-width:991px) {
        font-size: 20px;
        line-height: 24px;
    }

}

.page {

    // .page__breadcrumbs

    &__breadcrumbs {}
}

.breadcrumbs {

    // .breadcrumbs__list

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
    }

    // .breadcrumbs__item

    &__item {
        list-style: none;
        font-size: 0.938vw;
        line-height: 1.25vw;
    }

    // .breadcrumbs__link

    &__link {
        text-decoration: none;
        color: var(--mainSubColor);

        &:after {
            content: "|";
            font-size: 0.938vw;
            margin: 0 0.26vw;

        }
    }

    // .breadcrumbs__current

    &__current {}

    @media(max-width:991px) {

        // .breadcrumbs__link
        &__link {

            &:after {
                font-size: 1.816vw;
                margin: 0 0.505vw;
            }
        }

        // .breadcrumbs__item

        &__item {
            font-size: 1.816vw;
            line-height: 2.422vw;
        }
    }

    @media(max-width:500px) {

        // .breadcrumbs__link
        &__link {

            &:after {
                font-size: 4.4vw;
                margin: 0 1vw;
            }
        }

        // .breadcrumbs__item

        &__item {
            font-size: 4.4vw;
            line-height: 4.8vw;
        }
    }

}


.page__title {
    font-size: 1.875vw;
    line-height: 2.188vw;
    margin: 1.563vw 0;

    @media(max-width:991px) {
        font-size: 3.229vw;
        line-height: 3.835vw;
        margin: 2.018vw 0;
    }

    @media(max-width:500px) {
        font-size: 5.2vw;
        line-height: 5.6vw;
        margin: 4vw 0;
    }
}