.btn {
    background-color: unset;
    padding: 0;
    border: none;
    cursor: pointer;
}

input:invalid {
    background-color: #ffdddd;
}

input:valid {
    background-color: #ddffdd;
}

input:required {
    border-color: #800000;
    border-width: 3px;
}

//.form__error

.form {

    //.form__error-text
    p.form__error-text {
        text-align: left;
        font-size: 0.7vw;
        margin-bottom: 0.26vw;
        width: 100%;
        margin-left: 2.344vw;
    }

    //.form__error-field
    input.form__error-field {
        background-color: #ffdddd;
    }

    p.form__error-text,
    input.form__error-field {
        color: #800000;
    }
}