.contacts {

    // .contacts__container

    &__container {}

    // .contacts__map

    &__map {
        &>* {
            box-sizing: content-box;
        }

        iframe {
            width: 100%;
            height: 400px;
        }

        @media(max-width:991px) {
            iframe {
                height: 300px;
            }
        }

        @media(max-width: 500px) {
            iframe {
                height: 250px;
            }
        }
    }

    // .contacts__item

    &__item {
        display: grid;
        gap: 0.521vw;
        grid-template-columns: 30% 70%;
        margin-top: 1.563vw;
        border: 0.052vw solid #d5d2d2;
        padding: 1.563vw;

        // .contacts__item-picture

        &-picture {
            width: 100%;
            height: 100%;
        }

        // .contacts__item-image

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-view-box: inset(2% 46% 0% 3%);
        }

        // .contacts__item-control

        &-control {
            display: grid;
            grid-template-columns: 21% 21% 56%;
            gap: 0.521vw;
        }

        // .contacts__item-description

        &-description {}

        // .contacts__item-name

        &-name {
            font-size: 1.25vw;
            line-height: 1.354vw;
            font-weight: 500;
            margin: 0 0 1.042vw 0;
        }

        // .contacts__item-time

        &-time {
            font-size: 1.042vw;
            line-height: 1.25vw;
            font-weight: 400;
            margin: 0;
        }

        // .contacts__item-phones

        &-phones {}

        // .contacts__item-phone

        &-phone {
            font-size: 1.25vw;
            line-height: 1.354vw;
            text-decoration: none;
            color: var(--mainSubColor);
            font-weight: 500;
        }

        // .contacts__item-route

        &-route {}

        // .contacs__item-path

        &-path {
            font-size: 1.25vw;
            line-height: 1.354vw;
            font-weight: 500;
            margin: 0 0 1.042vw 0;
        }

        // .contacs__item-text

        &-text {
            font-size: 0.938vw;
            line-height: 1.146vw;
            font-weight: 500;
            margin: 0 0 0.781vw 0;
            padding: 0 0 0.781vw 0;
            border-bottom: 0.052vw solid #d5d2d2;
        }

        //.contacts__item-items
        &-items {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 0.521vw;
            margin-bottom: 0.781vw;

            //.contacts__item-paragraph--bus
            &--bus {}

            //.contacts__item-paragraph--minibus
            &--minibus {}

            //.contacts__item-paragraph--trolleybuses
            &--trolleybuses {}
        }

        //.contacts__item-paragraph
        &-paragraph {
            list-style: none;
            padding: 0.521vw;
            color: #fff;
            font-size: 0.833vw;
            line-height: 0.938vw;
            border-radius: 1.042vw;
            flex: 0 1 2.604vw;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        //.contacts__item-paragraph--bus
        &-items--bus>&-paragraph {
            background-color: #013784;
        }

        //.contacts__item-paragraph--bus
        &-items--minibus>&-paragraph {
            background-color: #ec252c;
        }

        //.contacts__item-paragraph--bus
        &-items--trolleybuses>&-paragraph {
            background-color: #0653c0;
        }

        @media(max-width:991px) {

            //.contacts__item
            & {
                padding: 2.018vw;
                margin-top: 2.018vw;
                gap: 1.514vw;
                grid-template-columns: 1fr;
            }


            //.contacts__item-picture
            &-picture {
                height: 400px;
            }

            //.contacts__item-phone
            //.contacts__item-name
            //.contacts__item-path
            &-path,
            &-name,
            &-phone {
                font-size: 2.422vw;
                line-height: 2.624vw;
            }

            //.contacts__item-name
            &-name {
                margin: 0 0 1.009vw 0;
            }

            //.contacts__item-path
            &-path {
                margin: 0 0 1.009vw 0;
            }

            //.contacts__item-time
            //.contacts__item-text
            //.contacts__item-paragraph
            &-paragraph,
            &-text,
            &-time {
                font-size: 1.816vw;
                line-height: 2.422vw;
            }

            //.contacts__item-text
            &-text {
                padding: 0 0 1.009vw 0;
                margin: 0 0 1.009vw 0;
            }

            //.contacts__item-paragraph
            &-paragraph {
                flex: 0 1 5.045vw;
            }

            //.contacts__item-items
            &-items {
                gap: 2vw;
            }

            //.contacts__item-control
            &-control {
                gap: 1.009vw;
                grid-auto-columns: 1fr;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                    "i1 i2"
                    "i3 i3";
                // grid-template-columns: 47% 3% 46%;
            }

            //.contacts__item-description
            &-description {
                grid-area: i1;
                // grid-column: 1 / span 2;
            }

            //.contacts__item-phones
            &-phones {
                grid-area: i2;
                white-space: nowrap;
                // grid-column: 3 /span 2;
            }

            //.contacts__item-route
            &-route {
                grid-area: i3;
                // grid-column: 1 / span 3;
                border-top: 0.101vw solid #d5d2d2;
                padding-top: 1.009vw;
            }
        }

        @media(max-width: 500px) {
            & {
                gap: 3vw;
                padding: 4vw;
            }

            //.contacts__item-picture
            &-picture {
                height: 300px;
            }

            //.contacts__item-phones
            &-phones {
                white-space: collapse;
            }

            //.contacts__item-phone
            //.contacts__item-name
            //.contacts__item-path
            &-path,
            &-name,
            &-phone {
                font-size: 5.2vw;
                line-height: 5.6vw;
            }

            //.contacts__item-time
            //.contacts__item-text
            //.contacts__item-paragraph
            &-paragraph,
            &-text,
            &-time {
                font-size: 4.4vw;
                line-height: 4.8vw;
            }

            //.contacts__item-name
            &-name {
                margin: 0 0 3vw 0;
            }

            //.contacts__item-time
            &-time {
                white-space: nowrap;
            }

            //.contacts__item-path
            &-path {
                margin: 0 0 3vw 0;
            }

            //.contacts__item-text
            &-text {
                padding: 0 0 3vw 0;
                margin: 0 0 3vw 0;
            }

            //.contacts__item-paragraph
            &-paragraph {
                flex: 0 1 12vw;
            }

            //.contacts__item-control
            &-control {
                gap: 3vw;
            }

            //.contacts__item-items
            &-items {
                gap: 2vw;
                margin-bottom: 0;

                &:not(:last-child) {
                    margin-bottom: 3vw;
                }
            }

            //.contacts__item-route
            &-route {
                padding-top: 4vw;
                border-top: 0.2vw solid #d5d2d2;
            }
        }
    }

}