.order {

    // .order__container

    &__container {}

    // .order__items

    &__items {}

    // .order__status

    &__status {
        margin-bottom: 1.563vw;
        // .order__status-title

        &-title {
            font-size: 1.146vw;
            line-height: 1.354vw;
            margin: 0 0 1.042vw 0;
            font-weight: 500;
        }

        // .order__status-items

        &-items {
            display: flex;
            align-items: center;
            gap: 1.563vw;
        }

        // .order__status-item

        &-item {
            display: flex;
            gap: 10px;
            cursor: pointer;

        }

        // .order__status-name

        &-name {
            font-size: 0.938vw;
            line-height: 1.146vw;
            margin: 0;
        }
    }

    .basket {

        // .basket__product-checkbox

        &__product-checkbox {}

        // .basket__product-input

        &__product-input {}

        // .basket__product-box

        &__product-box {
            width: 1.042vw;
            height: 1.042vw;
            margin-top: 0;
        }
    }


    // .order__item

    &__item {
        border: 0.052vw solid #d5d2d2;
        border-radius: 1.042vw;

        &:not(:last-of-type) {
            margin-bottom: 1.042vw;
        }

        // .order__item-panel

        &-panel {
            display: flex;
            flex-direction: column;
            padding: 1.563vw;
        }

        //.order__item-control
        &-control {
            display: flex;
            align-items: center;
            margin-bottom: 0.781vw;
        }

        //.order__item-action
        &-action {
            display: flex;
            align-items: center;
            font-size: 1.042vw;
            line-height: 1.25vw;

            //.order__item-action-block
            &-block {
                display: flex;
                align-items: center;
                margin-right: 0.521vw;
            }

            //.order__item-action-price
            &-price {
                margin: 0 0 0 auto;
                display: flex;
                align-items: center;
                font-size: 0.833vw;
                line-height: 0.938vw;
            }
        }

        &-price-product,
        &-price-total {
            font-size: 1.042vw;
            line-height: 1.25vw;
            font-weight: 500;
            margin-left: 0.26vw;

            &:after {
                content: "₽";
            }
        }

        &-price-count {
            font-size: 0.729vw;
            line-height: 0.833vw;
            display: flex;
            align-items: center;

            &::after {
                content: "₽";
            }
        }

        //.order__item-user-text
        &-user-text {
            margin: 0 0.26vw 0 0;
        }

        //.order__item-user-name
        &-user-name {
            margin: 0;
            font-weight: bold;
        }

        //.order__item-price
        &-price {
            margin-left: 0.26vw;
            font-weight: bold;

            &:after {
                content: "₽";
            }
        }

        // .order__item-order

        &-order {
            font-size: 1.042vw;
            line-height: 1.25vw;
            font-weight: bold;
            margin: 0 0.26vw 0 0;
        }

        // .order__item-date

        &-date {
            font-size: 0.938vw;
            line-height: 1.146vw;
            margin: 0 0.521vw 0 0;
        }

        // .order__item-status

        &-status {
            margin: 0;
            background-color: #013784;
            width: fit-content;
            display: flex;
            align-items: center;
            padding: 0.521vw 1.042vw;
            color: #fff;
            border-radius: 1.042vw;
            font-size: 1.042vw;
            line-height: 1.25vw;
        }

        // .order__item-body

        &-body {
            overflow: hidden;
            height: 0;
            visibility: hidden;
            opacity: 0;
            transition: height 320ms, opacity 320ms, visibility 320ms;

            &.active {
                height: auto;
                visibility: visible;
                opacity: 1;
                border-top: 0.052vw solid #d5d2d2;
            }
        }

        // .order__item-phone

        &-phone {
            display: flex;
            align-items: center;
            margin: 0;

            // .order__item-phone-text

            &-text {
                display: flex;
                align-items: center;
                margin: 0 0.26vw 0 0;
            }

            // .order__item-phone-user

            &-user {
                margin: 0;
                font-weight: bold;
            }
        }

        // .order__item-products

        &-products {
            overflow: hidden;
            height: 0;
            visibility: hidden;
            opacity: 0;
            transition: height 320ms, opacity 320ms, visibility 320ms;

            &.active {
                height: auto;
                visibility: visible;
                opacity: 1;
            }
        }

        // .order__item-product

        &-product {
            display: flex;
            padding: 1.563vw;
        }

        // .order__item-picture

        &-picture {
            display: flex;
        }

        // .order__item-image

        &-image {
            width: 13.021vw;
            max-height: 13.021vw;
            object-fit: contain;
        }

        // .order__item-description

        &-description {
            flex: 0 1 60%;
            margin-left: 0.781vw;
        }

        // .order__item-name

        &-name {
            font-size: 1.25vw;
            line-height: 1.354vw;
            margin: 0 0 0.781vw 0;
            font-weight: 500;
        }

        // .order__item-articul

        &-articul {
            font-size: 1.042vw;
            line-height: 1.146vw;
            font-weight: 400;
            margin: 0;
        }

        // .order__item-block

        &-block {
            margin-left: auto;
            font-size: 0.938vw;
            line-height: 1.146vw;

            // .order__item-block-price

            &-price {
                margin: 0 0 0.781vw 0;
                text-align: right;
            }

            // .order__item-block-count

            &-count {
                margin: 0;
                display: flex;
                justify-content: space-between;
                gap: 0.26vw;
                align-items: center;
                text-align: right;
                width: auto;
                // width: 11.458vw;

                &.remove {
                    justify-content: end;
                }

                pre {
                    margin: 0;
                    width: 10px;
                }

                >div:last-of-type {
                    display: flex;
                    justify-content: end;
                    gap: 0.26vw;
                }
            }

        }

        //.order__item-remove
        //.order__item-button
        &-remove,
        &-button {
            margin-left: auto;
            background-color: #013784;
            width: fit-content;
            display: flex;
            align-items: center;
            padding: 0.521vw 1.042vw;
            color: #fff;
            border-radius: 1.042vw;
            font-size: 1.042vw;
            line-height: 1.25vw;
        }

        //.order__item-remove
        &-remove {
            margin-top: 0.521vw;
        }

        // .order__item-price

        &-price {
            &:first-child {
                font-size: 1.042vw;
                line-height: 1.25vw;
                font-weight: 500;
            }

            // .order__item-price-count

            &-count {
                display: flex;
                align-items: center;
                font-size: 0.938vw;
                line-height: 1.146vw;
            }
        }


        // .order__item-price

        &-price {}

        // .order__item-count

        &-count {}

        //.order__item-summary
        &-summary {

            &.hidden {
                display: none;
            }

        }

        &-summary &-block {
            display: flex;
            align-items: center;
            margin-bottom: auto;
        }
    }
}

.icon-cheveron-down {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform .3s ease;

    &:before {
        font-size: 1.563vw;
    }

    &.active {
        transition: transform .3s ease;
        transform: rotate(180deg);
    }
}

//.order__item-quantity
.order__item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin: 0;
    cursor: pointer;

    .quantity__current {
        width: 30px;
        height: auto;
        border: none;
        font-size: 0.833vw;
        line-height: 0.938vw;
        text-align: center;
    }

    .quantity__control {
        padding: 0.521vw;
        background-color: #013784;
        border-radius: 1.042vw;
        color: #fff;
        font-size: 1.7vw;
        line-height: 0.938vw;
        width: 1.979vw;
        display: flex;
        align-items: center;
        justify-content: center;

        &.disabled {
            background-color: #4e6c96;
        }
    }
}

@media(max-width:991px) {

    .order {

        // .order__status

        &__status {

            margin-bottom: 3.027vw;

            // .order__status-title

            &-title {
                font-size: 2.422vw;
                line-height: 2.624vw;
                margin: 0 0 2.018vw 0;
            }

            // .order__status-items

            &-items {
                gap: 1.514vw;
            }

            // .order__status-item

            &-item {
                // gap: 1.009vw;
            }

            // .order__status-name

            &-name {
                font-size: 2.018vw;
                line-height: 2.422vw;
            }

        }

        // .order__item

        &__item {
            &:not(:last-of-type) {
                margin-bottom: 2.018vw;
            }

            // .order__item-panel

            &-panel {
                padding: 1.514vw;
            }

            //.order__item-description
            &-description {
                margin-left: 0.505vw;
            }

            // .order__item-control

            &-control {
                margin-bottom: 1.009vw;
            }

            // .order__item-order

            &-order {
                font-size: 2.018vw;
                line-height: 2.422vw;
                margin: 0 0.505vw 0 0;
            }

            // .order__item-date

            &-date {
                font-size: 2.018vw;
                line-height: 2.422vw;
                margin: 0 1.009vw 0 0;
            }

            // .order__item-status

            &-status {
                padding: 1.009vw 2.018vw;
                font-size: 1.816vw;
                line-height: 2.22vw;
            }

            // .order__item-action

            &-action {
                font-size: 2.018vw;
                line-height: 2.422vw;
                flex-wrap: wrap;

                // .order__item-action-block

                &-block {
                    margin-right: 1.009vw;
                }

                // .order__item-action-price

                &-price {
                    font-size: 2.018vw;
                    line-height: 2.422vw;
                    margin: 2.018vw 0 0 auto;
                }
            }

            // .order__item-price-product
            // .order__item-price-total
            &-price-product,
            &-price-total {
                font-size: 1.816vw;
                line-height: 2.22vw;
                margin-left: 0.505vw;
            }

            // .order__item-phone

            &-phone {
                // .order__item-phone-text

                &-text {
                    margin: 0 0.505vw 0 0;
                }
            }

            // .order__item-product

            &-product {
                gap: 1.514vw;
                padding: 1.514vw;
            }

            // .order__item-picture

            &-picture {}

            // .order__item-image

            &-image {
                width: 20.182vw;
                max-height: 20.182vw;
            }

            // .order__item-name

            &-name {
                font-size: 2.018vw;
                line-height: 2.422vw;
                margin: 0 0 1.009vw 0;
            }

            // .order__item-articul

            &-articul {
                font-size: 1.816vw;
                line-height: 2.22vw;
            }

            // .order__item-block

            &-block {
                font-size: 1.816vw;
                line-height: 2.22vw;
                // .order__item-block-price

                &-price {
                    margin: 0 0 1.514vw 0;
                }

                // .order__item-block-count

                &-count {
                    // width: 22.2vw;
                    gap: 0.505vw;
                }
            }

            // .order__item-quantity

            &-quantity {
                gap: 1.009vw;
            }

            // .order__item-price-count

            &-price-count {
                font-size: 1.816vw;
                line-height: 2.422vw;
            }

            // .order__item-remove

            &-remove {
                margin-top: 2.018vw;
            }

            // .order__item-button
            // .order__item-remove
            &-button,
            &-remove {
                padding: 1.009vw 2.018vw;
                font-size: 1.816vw;
                line-height: 2.22vw;
            }

        }

        .basket__product-box {
            width: 2.018vw;
            height: 2.018vw;
        }

        .basket__product-checkbox {
            width: 2.018vw;
        }
    }

    .icon-cheveron-down {
        &:before {
            font-size: 3.027vw;
        }
    }

    //.order__item-quantity 
    .order__item-quantity {

        //.quantity__control
        .quantity__control {
            padding: 1.009vw;
            font-size: 3.027vw;
            line-height: 2.422vw;
            width: 4.027vw;
        }

        //.quantity__current
        .quantity__current {
            font-size: 1.816vw;
            line-height: 2.22vw;
        }
    }
}

@media(max-width:500px) {
    .order {

        // .order__status

        &__status {

            margin-bottom: 6vw;

            // .order__status-title

            &-title {
                font-size: 4.4vw;
                line-height: 4.8vw;
                margin: 0 0 4vw 0;
            }

            // .order__status-items

            &-items {
                gap: 3vw;

            }

            // .order__status-item

            &-item {
                // gap: 2vw;
                align-items: center;
            }

            // .order__status-name

            &-name {
                font-size: 4vw;
                line-height: 4.4vw;
            }

        }

        // .order__item

        &__item {
            &:not(:last-of-type) {
                margin-bottom: 4vw;
            }

            // .order__item-panel

            &-panel {
                padding: 3vw;
            }

            // .order__item-control

            &-control {
                margin-bottom: 4vw;
                display: grid;
                grid-template-columns: repeat(5, auto);
                row-gap: 3vw;
            }

            //.order__item-description
            &-description {
                margin-left: 0;
                grid-row: 2;
                grid-column: 1 / span 2;
            }

            // .order__item-order

            &-order {
                font-size: 4vw;
                line-height: 4.8vw;
                margin: 0 1vw 0 0;
            }

            // .order__item-date

            &-date {
                font-size: 4vw;
                line-height: 4.8vw;
                margin: 0 2vw 0 0;
            }

            // .order__item-status

            &-status {
                padding: 1vw 2vw;
                font-size: 4vw;
                line-height: 4.8vw;
                grid-column: 4 / span 2;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            // .order__item-action

            &-action {
                font-size: 4vw;
                line-height: 4.8vw;
                gap: 2vw;

                // .order__item-action-block

                &-block {
                    margin-right: 1.009vw;
                }

                // .order__item-action-price

                &-price {
                    font-size: 4vw;
                    line-height: 4.8vw;
                    margin: 0;
                }
            }

            // .order__item-price-product
            // .order__item-price-total
            &-price-product,
            &-price-total {
                font-size: 3.8vw;
                line-height: 4.8vw;
                margin-left: 1vw;
            }

            // .order__item-phone

            &-phone {
                // .order__item-phone-text

                &-text {
                    margin: 0 0.505vw 0 0;
                }
            }

            // .order__item-product

            &-product {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0vw;
                padding: 3vw 3vw 3vw 3vw;

                &:not(:last-of-type) {
                    border-bottom: 0.2vw solid #d5d2d2;
                }
            }

            // .order__item-picture

            &-picture {
                grid-row: 1;
                grid-column: 1 / span 2;
                max-height: 80vw;
            }

            // .order__item-image

            &-image {
                width: 100%;
                max-height: 100%;
                // object-fit: cover;
            }

            // .order__item-name

            &-name {
                font-size: 4.8vw;
                line-height: 5.6vw;
                margin: 0 0 2vw 0;
                word-break: break-word;
                hyphens: auto;
            }

            // .order__item-articul

            &-articul {
                font-size: 4vw;
                line-height: 4.8vw;
                word-break: break-all;
            }

            // .order__item-block

            &-block {
                font-size: 4vw;
                line-height: 4.8vw;
                grid-row: 3;
                grid-column: 1/ span 2;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, auto);
                align-items: center;
                margin-top: 3vw;
                gap: 0;
                row-gap: 3vw;
                // .order__item-block-price

                &-price {
                    text-align: left;
                    margin: 0;
                }

                // .order__item-block-count

                &-count {
                    width: auto;
                    gap: 1vw;
                    justify-content: start;

                    &>div:last-of-type {
                        font-size: 4vw;
                        line-height: 4.8vw;
                        gap: 1vw;
                    }
                }
            }

            // .order__item-quantity

            &-quantity {
                gap: 1vw;
            }

            // .order__item-price-count

            &-price-count {
                font-size: 4vw;
                line-height: 4.8vw;
            }

            // .order__item-remove

            &-remove {
                grid-row: 2;
                grid-column: 1 / span 2;
                margin: 0 0 0 auto;
                // margin: 2vw 0 0 auto;
            }

            //.order__item-button 
            &-button {
                grid-row: 2;
                width: 100%;
                grid-column: 1/span 5;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            // .order__item-button
            // .order__item-remove
            &-button,
            &-remove {
                padding: 2vw 4vw;
                font-size: 4vw;
                line-height: 4.8vw;
            }

        }

        .basket__product-box {
            width: 4vw;
            height: 4vw;

        }

        .basket__product-checkbox {
            width: 4vw;
            height: 4vw;
            margin: 0;
        }
    }

    .icon-cheveron-down {
        &:before {
            font-size: 6vw;
        }
    }

    //.order__item-quantity 
    .order__item-quantity {

        //.quantity__control
        .quantity__control {
            padding: 1vw;
            font-size: 4vw;
            line-height: 4.8vw;
            width: 9.027vw;
        }

        //.quantity__current
        .quantity__current {
            font-size: 4vw;
            line-height: 4.8vw;
            width: 8vw;
        }
    }
}