.cart {

    // .cart__container

    &__container {}

    // .cart__wrapper

    &__wrapper {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    // .cart__content

    &__content {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(4, 1fr); 
        gap: 1.563vw;
        grid-template-areas:
            "i1 i2"
            "i3 i2"
            "i4 i2"
            "i5 i2";
        // .cart__content-picture

        &-picture {
            max-height: 350px;
            grid-area: i1;
        }

        // .cart__content-image

        &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        // .cart__content-body

        &-body {}

        //.cart__content-body
        &-body {
            grid-area: i2;
        }

        //.card__content-inner
        &-inner {
            grid-area: i3;
        }

        //.card__content-form
        &-form {}

        //.cart__content-price
        &-price {
            grid-area: i3;
            display: flex;
            align-items: center;
            gap: 0.781vw;

            h4 {
                margin: 0;
            }
        }

        //.cart__content-articul
        &-articul {
            grid-area: i4;
            display: flex;
            align-items: center;
            gap: 0.781vw;

            p {
                margin: 0;
            }
        }
    }

    // .cart__filter

    &__filter {}

    //.cart__name
    &__name {
        font-size: 1.25vw;
        line-height: 1.458vw;
    }

    //.cart__category
    &__category {
        font-size: 1.042vw;
        line-height: 1.146vw;
    }


}

.catalog {

    // .catalog__filter

    &__filter {}
}

.filter {

    // .filter__item

    &__item {}

    // .filter__item-name

    &__item-name {}
}

#admin_form {
    grid-area: i5;
    display: flex;
    gap: 1.563vw;
    flex-direction: row-reverse;

    button {
        background-color: #013784;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw 1.9vw;
        color: #fff;
        border-radius: 1.042vw;
        font-size: 0.833vw;
        line-height: 0.938vw;
        border: none;
        cursor: pointer;
    }
}

.admin__buttons {
    display: grid;
    grid-template-columns: repeat(3, 12%);
    gap: 0.521vw 1.563vw;
    margin-top: 1.042vw;
}

.admin__button {
    background-color: #013784;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 1.9vw;
    color: #fff;
    border-radius: 1.042vw;
    font-size: 16px;
    line-height: 18px;
}

#product_price,
#product_articul{
    width: 100%;
}

#save-button,
#delete-button {}